<!-- Side navigation -->
<div class="sidenav">
  <br>
  <%= username %>
  ________________________
  <br>
  <a href='/doctor/details'>My Personal Details</a>
  <a href="/doctor/appointment-request">View Appointment Requests</a>
  <a href="/doctor/appointment">View Appointments</a>
</div>
