<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration | CAS</title>
  <link href="../header.css" rel="stylesheet" type="text/css" />
  <link href="../tables.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript"
    src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../validations/registration.js"></script>
</head>

<header>
  <%- include('../../partials/header') %>
</header>

<body>
  <h1>Hospital Management System</h1>
  <br>
  <form action="/register" method="post" id="registration">
    <table>
      <tr>
        <td>
          Name
        </td>
        <td>
          <input type="text" name="username" id="username" required="required" placeholder="Atleast 6 characters">
        </td>
      </tr>
      <tr>
        <td>
          Date of Birth
        </td>
        <td>
          <input type="datetime" name="dateOfBirth" id="dateOfBirth" required="required" placeholder="mm/dd/yyyy">
        </td>
      </tr>
      <tr>
        <td>
          Gender
        </td>
        <td>
          <input type="radio" name="gender" id="gender" value="male"> Male <input type="radio" name="gender" id="gender"
            value="female"> Female <input type="radio" name="gender" id="gender" value="other"> Other
        </td>
      </tr>
      <tr>
        <td>
          SignIn As
        </td>
        <td>
          <input type="radio" name="profession" id="profession" value="patient"> Patient <input type="radio"
            name="profession" id="profession" value="doctor"> Doctor <input type="radio" name="profession"
            id="profession" value="supplier"> Supplier
        </td>
      </tr>
      <tr>
        <td>
          Mobile Number
        </td>
        <td>
          <input type="number" name="mobileNumber" id="mobileNumber" required="required">
        </td>
      </tr>
      <tr>
        <td>
          address
        </td>
        <td>
          <input type="text" name="address" id="address" required="required">
        </td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>
          <input type="email" name="email" id="email" required="required" placeholder="Enter valid email address">
        </td>
      </tr>
      <tr>
        <td>
          Password
        </td>
        <td>
          <input type="password" name="password" id="password" required="required"
            placeholder="Atleast contain 8 characters">
        </td>
      </tr>
    </table>
    <div style='color: red;'>
      <% if (message) { %>
      <%= message %>
      <% } %>
    </div>
    <br>
    <br>
    <button type="submit">Register</button>
  </form>
</body>

</html>
